body{
    padding:0;
    margin: 0;
background: #262626;
}
.cup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 200px;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background:url(background/bluee.jpg);
    background-repeat: repeat-x;
    animation: animate 10s linear infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,0.5);
}
.cup::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid #fff;
    right:106%;
    top:20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
@keyframes animate
{
    0%{
        background-position: 0 200px;
    }
    10%{
        background-position: 0 100px;
    }
}